@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.animate-fade {
    animation: fade 1s ease-in-out;
}

::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

html {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}